[submodule "breakpad"]
	path = breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad/src
[submodule "external/third_party/lss"]
	path = external/third_party/lss
	url = https://chromium.googlesource.com/linux-syscall-support
